<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<br />

  <p>
    This hilariously wrong future predictions quote generator was built by <a target="_blank" href="http://briankichler.getforge.io">Brian Kichler</a>, who's learning to code at <a target="_blank" href="https://thefirehoseproject.com">the Firehose Project</a>.
  </p>
  <br />
  <p>
    Brian's incredibly supportive wife is giving him the time and space to do this, she's the best!
  </p>
</div>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'brian.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Brian Kichler</h2>
    <br />
    <p>
      Brian Kichler is a developer-in-training and partner at <a target="_blank" href="http://rxsafe.com">RxSafe, LLC</a>, a pharmacy automation company. He's also a proud father and stepfather, and lifelong learner.
    </p>
  </div>
</div>

  <br class="clear" />

  <br />
  <br />
  <br />
  <br />
  