<h2>
  <span>SPLURTY / No. <%= @quote.id %></span>
  Depending on your point of view, this will either cause tears or high-fiving!
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />
<br />
